{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class = 'card card-body'>
        <h1 class="display-1 text-center">Django App</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dignissimos error fuga dolorum quos, eius recusandae reprehenderit odio magni corporis laboriosam quisquam rerum, aperiam ipsum? Eveniet quam exercitationem explicabo dicta fuga odit possimus debitis ipsa quos deleniti. Unde hic quis illo. Voluptate exercitationem veniam ducimus doloremque dolor! Non cupiditate totam deserunt officiis in quasi culpa consequatur, rerum dolorum, dignissimos possimus ea, neque et exercitationem sunt iste quaerat eveniet! Enim praesentium voluptas esse illo recusandae qui hic nesciunt eveniet odit et quas iusto aut quis, nulla aliquam aperiam odio assumenda explicabo dolores saepe voluptate? Non eos qui, amet eaque sunt at!</p>
    </section>

    <div class="text-center">
        <a class="btn btn-secondary" href="/signin">
            signin
        </a>
        <a class="btn btn-dark" href="/signup">
            signup
        </a>
    </div>
</main>
{% endblock %}